{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - InnoVentory</title>
  <link rel="stylesheet" href="{% static 'css/registerstyles.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="register-container">
  <div class="blue-panel"></div>

  <div class="form-panel">
    <div class="header">
        <h1> Nice to meet you! </h1>
<!--      <h1>Inno<span style="color: var(&#45;&#45;form-accent);">Ventory</span></h1>-->
      <p>Let's Sign In Your Account!</p>
    </div>

    <form method="POST" class="register-form">
      {% csrf_token %}
      <div class="form-grid">
        {% for field in form %}
          <div class="form-group">
            <label class="input-label">
              {{ field.label }}
              <div class="input-container">
                <div class="input-shadow"></div>
                {{ field }}
              </div>
            </label>
            {% if field.errors %}
              <div class="text-danger">{{ field.errors|striptags }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="bottom-row">
        <div class="button-container">
          <button type="submit" class="signup-button">Register</button>
        </div>
        <div class="login-container">
          <div class="login-link">
            <span class="login-text">Already have an account? </span>
            <a href="{% url 'login' %}" class="login-button">Login</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>